@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*@font-face {*/
/*  font-family: "Pretendard-Regular";*/
/*  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")*/
/*    format("woff");*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@theme {
  --color-background : #f9f9f9;
  --color-gray900: #101828;
  --color-gray700: #364153;
  --color-gray400: #99A1AF;
  --color-gray300: #D1D5DC;
  --color-gray100 : #F3F4F6;
  --color-success: #2ecc71;
  --color-warning: #f1c40f;
  --color-error: #E74C3C;
  --color-blue500: #2B7FFF;

  --color-dark: #121212;
  --color-dark5: #1e1e1e;
  --color-dark8: #252525;
  --color-dark12: #2e2e2e;
  --color-SkeletonDark: #4d4d4d;
  --font-pretendard: "Pretendard-Regular";
}

@theme {
  --breakpoint-900: 900px;
  --breakpoint-1060: 1060px;
  --breakpoint-400: 400px;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
